body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body-login {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.body-items {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: #6c757d;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
